/* landing page */
.cover-img {
  background-image: url("./assets/coverphoto.jpg");
  background-size: cover;
}

.about-img {
  background-image: url("./assets/about.jpg");
  background-size: cover;
}

.contact-img {
  background-image: url("./assets/portfolio-three.jpeg");
  background-size: cover;
}

.projects-img {
  background-image: url("./assets/projects.jpg");
  background-size: cover;
}

.vertical-center {
  position: relative;
  margin-top: 35vh;
}

.card-center {
  position: relative;
  margin-top: 20vh;
}

.container-opaque {
  background: rgba(255, 255, 255, 0.7);
}

/* 100vh divs */
.full-height {
  min-height: 100vh;
  overflow: hidden;
}

.in-middle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}


/* font */
.custom-font {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.font-name {
  font-size: 400%;
}

.font-title {
  font-size: 250%;
}

.font-description {
  font-size: 150%
}

/* custom margins */
.custom-margin-left {
  position: relative;
  margin-left: 10%;
}

.custom-margin-right {
  position: relative;
  margin-right: 10%;
}

.custom-padding-top {
  position: relative;
  padding-top: 7%;
}

.custom-margin-top {
  position: relative;
  margin-top: 3rem;
}

/* nav bar */
.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

/* footer */
.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* border */
.rounded-border {
  border: 1px solid;
  border-radius: 8px;
}

/* project screenshots */
.custom-img-size {
  width: 30%;
  height: 20%;
}

.scroll-div {
  overflow: scroll;
}

/* carousel styling */
.carousel-height {
  width: 100%;
  height: 500px;
}

.carousel-margin-top {
  margin-top: 5rem
}